html
    head
        title Welcome
    body
        div.content#main
            strong "Hello world!"

            a(href='http://nodejs.org', target='_blank') Welcome to Node

            strong Select your favorite programming language:
            form
                select
                    option(value='C#') C#
                    option(value='C++') C++
                    option(value='JS', selected) JS

            ul
                li: a(href='http://nodejs.org/') Node.js homepage
                li: a(href='http://npmjs.org/') NPM homepage
                li: a(href='http://nodebits.org/') Nodebits blog