<% if (locals.user) { %>
  <!-- Menu for logged-in users -->
  <div id='menu'>
    <span class='name'><%= user.name %></span>
    <a href='/post'>post</a>
    <a href='/logout'>logout</a>
  </div>
<% } else { %>
  <!-- Menu for anonymous users -->
  <div id='menu'>
    <a href='/login'>login</a>
    <a href='/register'>register</a>
  </div>
<% } %> 
