<entries>
  <!-- cycle through each entry -->
<% entries.forEach((entry) => { %>
  <entry>
    <!-- output fields -->
    <title><%= entry.title %></title>
    <body><%= entry.body %></body>
    <username><%= entry.username %></username>
  </entry>
<% }) %>
</entries> 
